@page "/wasm-telemetry-data"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@implements IAsyncDisposable

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

@using Azure.Messaging.WebPubSub.Clients
@using Dottor.Umarell.ParentalControl.Client.Models

<h3>WasmTelemetryData</h3>

<h5>@_text</h5>

<div id="map" @ref="_mapEl"></div>

<FluentCard>
    <h2>Hello World!</h2>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>

