@page "/wasm-telemetry-data"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@implements IAsyncDisposable

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

<h3>InteractiveWebAssembly sample</h3>

<h5>@_text</h5>

<div id="map" @ref="_mapEl"></div>
