@using Dottor.Umarell.ParentalControl.Client.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/leaflet/leaflet.css" />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Dottor.Umarell.ParentalControl.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet  />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="libs/leaflet/leaflet.js"></script>

    <UmarellNotification @rendermode="RenderModeForPage" />
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage =>
        HttpContext.GetEndpoint()?.Metadata.GetMetadata<RenderModeAttribute>()?.Mode;
}