@page "/"
@rendermode InteractiveServer

<PageTitle>Umarell parental control</PageTitle>

<h1>
    <img src="/images/umarell_logo.png" height="50" />
    Umarell parental control
</h1>

<p>Monitora il tuo famigliare per una tua (e sua) sicurezza</p>
<div class="text-center">
    <img src="/images/gps_tracker.jpg" width="300" />
</div>
