@page "/server-telemetry-data"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@implements IAsyncDisposable
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime

<h3>InteractiveServer sample</h3>

<h5>@_text</h5>

<div id="map" @ref="_mapEl"></div>


