@implements IDialogContentComponent<GlobalState>
@inject IMessageService MessageService

<div>

    <FluentStack>
        <FluentSpacer />
        <FluentButton Appearance="Appearance.Lightweight" OnClick="DismissAll">
            Dismiss all
        </FluentButton>
    </FluentStack>

    <br />

    <FluentMessageBarProvider Section="@NotificationCenter.MESSAGES_NOTIFICATION_CENTER" MaxMessageCount="-1" Type="@MessageType.Notification" />
</div>

@code {
    [Parameter]
    public GlobalState Content { get; set; } = default!;

    private void DismissAll()
    {
        MessageService.Clear(NotificationCenter.MESSAGES_NOTIFICATION_CENTER);
    }
}